flask==3.0.3
flask-cors==4.0.1
# REMOVED: librosa==0.10.2.post1 - Not needed and causes Numba crashes
numpy>=1.26.4
pandas>=2.2.2
scikit-learn>=1.4.2
joblib>=1.4.2
matplotlib>=3.8.4
seaborn>=0.13.2
soundfile>=0.12.1
scipy>=1.11.4
pyJwt
python-dotenv  
gunicorn
flask_session
requests